h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Poppins", sans-serif;
  color: #254e70;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #ffffff;
  overflow: hidden;
}

.bodyLayout section {
  display: grid;
  grid-template-columns: 260px 1fr;
}

section header {
  background-color: #f7f7ff;
  padding: 50px;
  min-height: 100vh;
}

#headerImg img {
  width: 148px;
  margin-bottom: 40px;
}

#nav .navLink {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

#nav .navLink img {
  width: 30px;
  margin-right: 10px;
}

#nav .navLink a {
  color: #254e70;
}

#nav .navLink a:hover {
  color: #4ecdc4;
}

#nav .navLink.active a {
  font-weight: bold;
  color: #22d3ee;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #f7f7ff;
  padding: 30px 60px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  width: 350px;
}

.card h2 {
  color: #254e70;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.pakket-info {
  border: 1px solid #f28482;
  border-radius: 8px;
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
}

.pakket-info p {
  margin: 6px 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  color: #254e70;
}

.blauwBtn {
  background-color: #4ecdc4;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 12px;
  border: none;
  display: block;
  margin: 0 auto;
  transition: background-color 0.3s;
}

.blauwBtn:hover {
  background-color: #27ada4;
}
